.header-container{
    width: 85%;
   max-width: 1360px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
   

}
body{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 16px 0;
   
    background-color: #FFFFFF;
    width: 100%;
   
}
.hdc1 img{

} 
.hdc2 ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    color: #000000;
    
}
.hdc2{
    margin-top: 18px;
    margin-bottom: 18px;
}
.btn{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;


}
.c2{
    width: 100%;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 180px;
    

  
}
  

.c2-container{
   margin-left: 120px;
   margin-right: 120px;
   align-items: center;
   
   text-align: center;
   justify-content: center;
   display: flex;
   flex-direction: column;

}
.btn1{
    font-size: 16px;
    font-weight: medium;
    color: #30b868;
    border: none;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom:18px ;
    display: inline-flex;
    
    gap: 6px;
   

}
.btn1 i{
    max-width: 16px;
}

.c2-container h1{
    font-size: 72px;
    color: white;
    
    
    
}
.c2-container h2{
    font-size: 72px;
    color: #30b868;
    font-weight: bold;
    margin-bottom: 16px;
}
.c2-container .p1{
    margin-bottom: 24px;
    font-size: 18px;
    
    color: white;

}
.c2-container .p2{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: white;

}
.btn-class{
    display: flex;
    gap: 16px;
    max-width: 465px;

}
.btn2{
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;



}
.btn2 img{
    max-width: 20px;
}
.btn3{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    
     
   
    font-size: 16px;
    font-weight: 600;
   
    padding: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: none;
    color: white;
    
}
.s3{
    padding-top: 44px;
}


.s4-container{
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    
}
.s4-container div{
    max-width: 322px;
    text-align: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 69.5px;
    padding-bottom: 0px;
    box-shadow: 0 12px 30px rgba(0,0 ,0, 0.05);
    background-color: white;
    border-radius: 5px;
    
    
    
}
.s4-container  h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 24px;
}
.s4-container  p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.s4-container img{
    background-color: #f95555;
    border-radius: 50%;
    padding: 14px;
}
.s5{
    padding: 120px;
    color: #FFFFFF;
    

}
.s5-fulldiv{
    display: flex;
    gap: 60px;
    
}
.fulldiv2{
    margin-top: 102px;
    margin-bottom: 102px;
    
}
.fulldiv2 h6{
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
.fulldiv2 h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: black;
}
.fulldiv2 p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}
.fulldiv2  li{
    list-style: none;
    margin-bottom: 16px;
    color: #001931;
}
.li1{
    display: inline-flex;
}
.li2{
    display: inline-flex;
}
.li3{
    display: inline-flex;
}
.li4{
    display: inline-flex;
}
.fulldiv1{
    max-width: 600px;

}
.fulldiv2 ul img{
    max-width: 20px;
}


.s4{
    background-color: #6273820c;
    text-align: center;
    padding-top: 50px;
}
.sh1{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
}
.sp1{
     font-size: 16px;
    color: #627382;
    margin-bottom: 44px;

}


