.header-container{
    width: 85%;
   max-width: 1360px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
   

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 16px 0;
   
    background-color: #FFFFFF;
    width: 100%;
   
}
.hdc1 img{

} 
.hdc2 ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    color: #000000;
    
}
.hdc2{
    margin-top: 18px;
    margin-bottom: 18px;
}
.btn{
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;


}
.hdc3{
    

}
